# Ignore all JSON files in static except sources.json
static/*.json
!static/sources.json

# Ignore actual credentials
credentials/*.json
!credentials/example/*.example.json

# Keep .gitkeep files
!.gitkeep
